[Desktop Entry]
Version=1.0
Name=Boot Splash Screen
Comment=Choose Plymouth boot splash screen
Icon=preferences-desktop-display
Exec=kcmshell5 kcm_plymouth
Terminal=false
Type=Application
Categories=LXQt;Qt;Settings;System;
StartupNotify=true
OnlyShowIn=LXQt;
