[Desktop Entry]
Version=1.0
Name=Login Screen (SDDM)
Comment=Configure Login Manager
Exec=kcmshell5 kcm_sddm
Icon=preferences-system-login
Terminal=false
Type=Application
Categories=LXQt;Qt;Settings;System;
StartupNotify=true
OnlyShowIn=LXQt;
