[Desktop Entry]
Name=Printers
Comment=Configure your printers
Icon=preferences-devices-printer
Exec=kcmshell5 kcm_printer_manager
Terminal=false
Type=Application
Categories=LXQt;Qt;Settings;System;
StartupNotify=true
OnlyShowIn=LXQt;


